.flash {
  background: white;
  padding: 100px 0;
}
img{
   height: 270px;
   padding-left: 50px;
   padding-bottom: 12px;
}
.view{
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(252, 26, 86);
  color:white;
  padding:12px 12px;
  padding-right: 22px;
  border-radius: 20px;
}